.card {
    max-width: 50%;
    text-align: center;
    justify-content: center;
}
.title {
    padding-left: 40px;
}
form {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
button {
    margin-right: 15px;
}